h1,h2{
    color-adjust: inherit;
    align-content: center;
    font: outline;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 18px;

}

p{
    
    font-size: 100%;
    color: aqua;

}

nav{
    color: brown;
    position: relative;
}
h3{
	color:#fff;
}
